<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="FirefoxTest">
    <parameter name="browser" value="Firefox"></parameter>
    <classes>
      <class name="demo.CBT"/>
    </classes>
  </test> <!-- Test -->
  <test name="InternetExploreTest">
    <parameter name="browser" value="IE"></parameter>
    <classes>
      <class name="demo.CBT"/>
    </classes>
  </test> <!-- Test -->  
</suite> <!-- Suite -->
